# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

# ignore SilverStripe content files
/assets/

# ignore SilverStripe CMS files
/cms/
/framework/
/reports/
/themes/simple/
/siteconfig/
/.editorconfig
/.htaccess
/composer.json
/composer.lock
/composer.phar
/index.php
/install-frameworkmissing.html
/web.config

# Ignore temporary files
Thumbs.db