# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

# ignore SilverStripe content files
/assets/

# ignore SilverStripe CMS files
/cms/
/framework/
/reports/
/themes/simple/
/siteconfig/
/.editorconfig
/.htaccess
/composer.lock
/composer.phar
/index.php
/install-frameworkmissing.html
/web.config

# ignore SilverStripe modules
/googlesitemaps/
/gridfieldextensions/
/nocaptcha/
/spamprotection/
/timepickerfield/

# ignore temporary files
Thumbs.db

# ignore IDE files
/.vscode

# Ignore web server files
/.well-known
robots.txt
mysite/_config/secure.yml
