# ignore cache folder
/silverstripe-cache/

# ignore environment files
/.env

# ignore composer vendor folder
/vendor/

# ignore SilverStripe content files
/public/

# ignore default theme
/themes/simple/

# ignore SilverStripe CMS files
/.cow
/.editorconfig
/.env.example
/.htaccess
/composer.lock
/composer.phar
/phpcs.xml.dist

# ignore temporary files
Thumbs.db

# ignore IDE files
/.vscode

# ignore custom web server files
app/_config/secure.yml
