/* Template Clean Up */
.dropotron li a {
	text-align: left;
}
section#banner {
	background-image: url("../images/banner.jpg");
}
/* Header Logo */
#header {
	padding-top: 0.5em;
}
#header h1 {
	width: 239px;
	height: 178px;
	background: url("../images/logo.png") no-repeat center;
	margin-bottom: 0.5em;
	padding: 0;
	width: 100%;
}
#header h1 a#logo {
  display: none;
}
/* Content Fixes */
#content ol {
	list-style-type: decimal;
	padding-left: 20px;
}
#content ul {
	list-style-type: disc;
	padding-left: 20px;
}
#content ol li, #content ul li {
	padding-left: 10px;
}
/* Calendar Styles */
@media screen and (max-width: 480px) {
	.calendar h4 em {
		display: block;
	}
}
.calendar p {
	padding-left: 10px;
	margin-bottom: 1em;
}
.calendar div {
	padding-left: 10px;
}
.calendar h4 {
	margin-bottom: 0;
}
/* Booking Calendar Styles */
.booking-calendar-wrapper {
	width: 100%;
	max-width: 840px;
	overflow-x: auto;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}
.booking-calendar {
	height: 600px;
	width: 839px;
	background: url("../images/booking-calendar-grid.gif") top left repeat;
	position: relative;
}
.booking-calendar .empty-header {
	height: 40px;
	width: 119px;
	background: #fff;
	float: left;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}
.booking-calendar .time-header {
	height: 40px;
	width: 40px;
	font-size: 14px; /* There is a 12px fix for this in ie8.css */
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	float: left;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}
.booking-calendar .last-time-header {
	height: 40px;
	width: 40px;
	font-size: 14px; /* There is a 12px fix for this in ie8.css */
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	float: left;
	border: 1px solid #000;
	clear: right;
}
.booking-calendar .day-header {
	height: 40px;
	width: 120px;
	font-size: 14px;
	font-weight: bold;
	line-height: 36px;
	text-align: right;
	padding-right: 10px;
	background: #fff;
	clear: left;
	float: left;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
.booking-calendar .booking {
	border: 1px solid #000;
	overflow: hidden;
	font-size: 12px;
	background-color: #FFB27F;
	position: absolute;
	height: 40px;
	line-height: 35px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

/* Monthly Calendar View Styles */
.monthly a {
	border-bottom: 0 !important;
}
.monthly .monthly-header-title {
	font-size: 1.2em !important;
}
.monthly .monthly-header-title a {
	font-weight: normal !important;
	box-sizing: content-box !important;
	text-decoration: underline !important;
}