.dropotron li a {
	text-align: left;
}
section#banner {
	background-image: url("../images/banner.jpg");
}
#content ol {
	list-style-type: decimal;
	padding-left: 20px;
}
#content ul {
	list-style-type: disc;
	padding-left: 20px;
}
#content ol li, #content ul li {
	padding-left: 10px;
}